.search_row{
    display: flex;
}
.search_product_image{
    width: 20%;
}
.search_suggestion{
    margin: 15px;
    display:block;
    position:relative;

}
.search_dropdown_hidden{
    display: none;
}
.search_dropdown{
    display: block;
    border: 1px solid #2fce98;
    border-top: 0.3px solid #2fce98;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 1px 0px #2fce98 inset, 0 0 1px 0px #2fce98;
}

.search_row p{
    margin-left: 5px;
}
.search_row{
    margin-left: 10px;
    margin-bottom: 6px;
}
.search_row:hover{
    background-color: #e2e2e2;
}
.active_suggestion{
    width: 100%;
    height: 39px;
    border: solid 1px #2fce98;
    border-top: 0.5px solid #2fce98;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: #2e2e2e;
    font-weight: 300;
    box-shadow: 0 0 1px 0px #4a4a4a inset, 0 0 1px 0px #4a4a4a;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.suggestion-list-item, .suggestion-list-item-update{
    color: black;
    cursor:pointer;
    border: 1px solid white;
background: aliceblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.suggestion-list-item:hover, .suggestion-list-item-update:hover{
    background-color: white;
}
.search_suggestion_hidden{
    display: none;
}
.search_suggestion_show{
    display: block;
}
.modal-body-hidden{
    display: none;
}
.modal-body{
    display: block;
}
.add-food, .add-food-details, .complete-order-submit{
    border: 2px solid green;
    background: green;
    color: white;
    border-radius: 5px;
}
.remove-food, .remove-food-details{
    border: 2px solid red;
    background: red;
    color: white;
    border-radius: 5px;
}
.add-food:hover, .add-food-details:hover, .complete-order-submit:hover{
    cursor: pointer;
    background-color: #014701;
}
#food-add-icon:hover{
    cursor: pointer;
}
.remove-food:hover, .remove-food-details:hover{
    cursor: pointer;
    background-color: #8f0606;
}
.ongoing-orders{
    display: block;
}
.ongoing-orders-hidden{
    display: none;
}
.food-name{
    margin-top: 18px;
    margin-left: 100px;
}
.alert-error{
    background-color: red;
    color:white;
}
input, select{
    margin-top: 4px;

}
.alert{
    margin-left: 15px;
}
.food-group-item-info:hover{
    cursor: pointer;
    background-color: #cac9c9;
}
.product-remove-button:hover{
    cursor:pointer;
}

.main-section, .group-section{
    display: block;
}
.main-section-hidden, .group-section-hidden{
    display: none;
}
.food-group-add:hover{
    cursor:pointer;
}
.link-disabled{
    pointer-events:none;
    cursor:default;
}
#search-food{
    border-right: solid 1px gray;
}
#return-order-button{
    margin-bottom: 20px;
}
/* CSS comes here */
#video {
    border: 1px solid black;
    width: 320px;
    height: 240px;
}

#photo {
    border: 1px solid black;
    max-width: 320px;
    max-height: 240px;
}

#canvas {
    display: none;
}

.camera {
    width: 340px;
    display: inline-block;
}

.output {
    width: 340px;
    display: inline-block;
}

#startbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 36px;
    padding: 5px;
    background-color: #007bff;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}

.contentarea {
    font-size: 16px;
    font-family: Arial;
    text-align: center;
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

th.sticky-th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
